// Importing our custom fonts from Google:
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Quicksand&display=swap');

// Font Variables
$title-font: 'Comfortaa';
$body-font: 'Quicksand';

// Color Variables
$white: #f4f4f2;
$light-blue: #bedcfa;
$medium: #e8e8e8;
$dark: #bbbfca;
$black: #39404D;

html, body {
    height: 100%;
}

body {
    background-color: $medium;
    color: $black;
    font-family: $body-font;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

h1 {
    font-size: 3rem;
    font-family: $title-font;
    padding: 1rem;
}

h2 {
    font-size: 2rem;
    font-family: $title-font;
    padding: .6rem;
}

header {
    background: $white;
    font-family: $title-font;
    text-align: center;
    padding: 2rem 0;
}

main {
    display: grid;
    place-items: center;
    background: $medium;
}

div#weather-card {
    margin: 4rem auto ;
    padding: 3em 1em;
    border-radius: 10px;
    display: grid;
    place-items: center;
    background: $light-blue;
    width: 50%;
    text-align: center;
    @media screen and (max-width: 1000px) {
        width: 75%;
    }
}

.weather-section {
    margin: 1em auto;
}

input {
    font-size: 1.2em;
    border: none;
    width: 100%;
    padding: 0.5em;
    margin-bottom:0.5em;
    font-family: $body-font;
}

button {
    font-size: 1.2em;
    color: $white;
    background-color: $black;
    font-family: $body-font;
    border: none;
    padding: .5em;
}

div#current-weather-holder {
    display: inline-flex;
    align-items: center;
}

img#current-weather-icon {
    //height: 70px;
    height: 4em;
}

span#current-temp {
   // font-size: 60px;
    font-size: 3em;
}

span#temp-gauge {
    margin-bottom:30px;

    a {
        text-decoration: underline;
        font-weight: bold;
    }
    a:hover {
        cursor: pointer;
    }
}

div#current-high-low-holder {
    margin-top: 1.5em;
    align-content: center;
}

span#current-high-low {
    font-size: 2em;
}

div#five-day-weather {
    width:80%;
}

div#five-day-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

div#five-day {
    flex: 0 1 150px; /*  No stretching: */
    margin: 2rem;
    padding: 2rem;
}

footer {
    width:100%;
    display: grid;
    bottom: 0;
    background:$black;
    color: $white;
    padding: 2rem;
    text-align: center;
    padding: 2rem 0;
}