// Importing our custom fonts from Google:
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Quicksand&display=swap');

// Font Variables
$title-font: 'Comfortaa';
$body-font: 'Quicksand';

// Color Variables
$bg-white: #f4f4f2;
$light-blue: #bedcfa;
$bg-medium: #e8e8e8;
$bg-dark: #bbbfca;
$text-color: #39404D;


body {
    background-color: $bg-medium;
    color: $text-color;
    font-family: $body-font;
    margin: 0;
    display: grid;
    //height: 100vh;
    grid-template-rows: auto 1fr auto;
}

header {
    background: $bg-white;
    font-family: $title-font;
    text-align: center;
    padding: 2rem 0;
}

main {
    display: grid;
    place-items: center;
    background: $bg-medium;
}

div#weather-card {
    margin: 1rem auto;
    padding: 1em;
    border-radius: 10px;
    display: grid;
    place-items: center;
    background: $light-blue;
    width: 50%;
    text-align: center;
}

div#current-weather-holder {
    display: inline-flex;
    align-items: center;
}

img#current-weather-icon {
    height: 70px;
}

span#current-temp {
    font-size: 60px;
}

span#temp-gauge {
    margin-bottom:30px;

    a {
        text-decoration: underline;
        font-weight: bold;
    }
    a:hover {
        cursor: pointer;
    }
}

footer {
    width:100%;
    position: fixed;
    display: grid;
    bottom: 0;
    background:$text-color;
    color: $bg-white;
    padding: 2rem;
    text-align: center;
    padding: 2rem 0;
}

